@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

html,
body {
    font:
        16px/1 "Russo One",
        sans-serif;
    color: #fff;
}

.wrapper {
    position: relative;
    margin: 0 auto;
    width: 820px;
    text-align: start;
    overflow: hidden;
}

.timer {
    margin: 120px 120px 120px 238px;
    position: relative;
}

.timer-info-container {
    width: 554px;
    display: flex;
    justify-content: end;
    margin-bottom: 14px;
    position: relative;
    z-index: 3;
}

.timer-bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}

.timer-info {
    text-align: start;
}

.timer-info-price {
    -webkit-text-stroke: 2px #6f1bb1;
    text-stroke: 2px #6f1bb1;
    color: #6cfe55;
    text-transform: uppercase;
    display: block;
    font-size: 44px;
    text-align: end;
}

.timer-info-time {
    font-variant-numeric: tabular-nums;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #6f1bb1;
    text-stroke: 2px #6f1bb1;
    color: white;
    font-size: 70px;
    letter-spacing: 2px;
    display: block;
    text-rendering: optimizeLegibility;
    font-variant-numeric: tabular-nums;
    text-align: end;
    text-rendering: optimizeLegibility;
    margin-bottom: 14px;
}

.char {
    display: inline-block;
    width: 0.98ch;
    text-align: center;
}

.char2 {
}

.smurf {
    display: block;
    z-index: 2;
    position: absolute;
    top: -114px;
    left: -236px;
}

.donation {
    text-align: end;
    width: 576px;
    position: relative;
    z-index: 3;
    padding: 24px 0 18px 0;
}

.donation-dots {
    letter-spacing: 3px;
    font-size: 24px;
}

.donation-first {
    padding: 0 28px 0 0;
    text-align: end;
    color: #ffd700;
    font-size: 26px;
    font-weight: 300;
}

.donation-first-name {
}

.donation-dots-first {
    color: #ffd700;
}

.donation-first-value {
    letter-spacing: 2px;
}

.donation-last {
    font-weight: 300;
    padding: 12px 28px 0 0;
    text-align: end;
    font-size: 26px;
}

.donation-last-name {
}

.donation-last-value {
    letter-spacing: 2px;
}
